/* css Reset */
*{
    margin: 0;
    padding: 0;
    

}




/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 450px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background: url(../photos/bg.jpg) no-repeat center center/cover;
    
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -2;
    opacity: 0.75;

}
#home h1{
    color: black;
    text-align: center;
   
}
#home h2{
    color:black;
    text-align: center;
   
}
#home h5{
    color: black;
    text-align: center;
   
}

#home p{
    color: black;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Akaya Kanadaka', cursive;
font-family: 'Merriweather', serif;

}
/* Services Section */
#services{
    margin: 24px;
    padding: 15px;
    display: flex;
    
}
#services .box{
    border: 2px solid black;
    padding: 24px;
    margin: 3px 6px;
    border-radius: 28px;
    background-color: #8fc7c0;;

}
#services .box img{
   width: 100px;
   margin: auto;
   display: block;
   height: 200px;
   width: 300px;
   border-radius: 23px;
  
}
/* Animal-section */
#Animal-section{
    height: 400px;
    font-size: 2.5rem;
    
    

}

#Animal-section::before{
    content: "";
    position: absolute;

    background-color: rgb(170, 211, 213);
    width: 100%;
    height: 55%;
    z-index: -1;
    opacity: 0.4;
}
#Animal{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Animal-item{
    padding: 35px;
}
#Animal img{
    height: 125px;
}




/* Utility Classes */
.h-primary{
    font-size: 3.5rem;
    padding:40px;
    font-family: 'Merriweather', serif;
}
.h-secondary{
    font-size: 2.6rem;
    padding: 12px;
    font-family: 'Merriweather', serif;
    text-align: center;
}
#btn{
    text-decoration: none;
    padding: 5px 20px;
    border: 2px solid #0d6efd;
    background-color: #0d6efd;
    border-radius: 6px;
    margin: 8px;
    font-size: 1.2rem;
    font-family: 'Akaya Kanadaka', cursive;
    cursor: pointer;
   
    
}
#btn a{
    color: White;
    text-decoration: none;
}
#btn :hover{
    color: rgb(29, 36, 236);
    
    
}
.center{
    text-align: center;
    font-family: 'Akaya Kanadaka', cursive;
    font-family: 'Merriweather', serif;

}

